{% extends 'base.html' %}
{% block title %}Dataset Overview{% endblock %}
{% block content %}
<div class="bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-4">Dataset Overview</h1>
    <table class="w-full border-collapse border border-gray-300">
        <thead>
            <tr>
                <th class="border border-gray-300 p-2 bg-gray-500 text-white">Attribute</th>
                <th class="border border-gray-300 p-2 bg-gray-500 text-white">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border border-gray-300 p-2">Number of Rows</td>
                <td class="border border-gray-300 p-2">{{ rows }}</td>
            </tr>
            <tr>
                <td class="border border-gray-300 p-2">Number of Columns</td>
                <td class="border border-gray-300 p-2">{{ cols }}</td>
            </tr>
            <tr>
                <td class="border border-gray-300 p-2" colspan="2">Columns</td>
            </tr>
            {% for column in columns %}
                <tr>
                    <td class="border border-gray-300 p-2">{{ column }}</td>
                    <td class="border border-gray-300 p-2">{{ dtypes[column] if column in dtypes else 'N/A' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" class="text-blue-600 hover:underline mt-4 inline-block">Back to Home</a>
</div>
{% endblock %}